@use "@/css/variables" as *;

.bannerSingleText {
  background-color: $light-grey;
  .titleBox {
    width: 100%;
    height: 400px;
    font-size: 10rem;
    color: white;
    background-image: url("../../assets/restaurant.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-shadow: 0 0 30px rgba(13, 13, 13, 0.934);
    font-family: $primary-font;
    background-color: rgba(48, 45, 45, 0.3);
    padding: 1rem 2rem;
  }
}
